{
  "x-generator": "NSwag v13.19.0.0 (NJsonSchema v10.9.0.0 (Newtonsoft.Json v13.0.0.0))",
  "openapi": "3.0.0",
  "info": {
    "title": "ATO.BARCODE",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://ato.fnskutoasin.com/api"
    }
  ],
  "paths": {
    "/identity/roleClaim": {
      "get": {
        "tags": ["RoleClaim"],
        "summary": "Get All Role Claims(e.g. Product Create Permission)",
        "operationId": "RoleClaim_GetAll",
        "responses": {
          "200": {
            "description": "Status 200 OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResultOfListOfRoleClaimResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      },
      "post": {
        "tags": ["RoleClaim"],
        "summary": "Add a Role Claim",
        "operationId": "RoleClaim_Post",
        "requestBody": {
          "x-name": "request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RoleClaimRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "Status 200 OK ",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResultOfString"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/identity/roleClaim/{roleId}": {
      "get": {
        "tags": ["RoleClaim"],
        "summary": "Get All Role Claims By Id",
        "operationId": "RoleClaim_GetAllByRoleId",
        "parameters": [
          {
            "name": "roleId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "guid"
            },
            "x-position": 1
          }
        ],
        "responses": {
          "200": {
            "description": "Status 200 OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResultOfListOfRoleClaimResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/identity/roleClaim/{id}": {
      "delete": {
        "tags": ["RoleClaim"],
        "summary": "Delete a Role Claim",
        "operationId": "RoleClaim_Delete",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "x-position": 1
          }
        ],
        "responses": {
          "200": {
            "description": "Status 200 OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResultOfString"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/identity/role": {
      "get": {
        "tags": ["Role"],
        "summary": "Get All Roles (basic, admin etc.)",
        "operationId": "Role_GetAll",
        "responses": {
          "200": {
            "description": "Status 200 OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResultOfListOfRoleResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      },
      "post": {
        "tags": ["Role"],
        "summary": "Add a Role",
        "operationId": "Role_Post",
        "requestBody": {
          "x-name": "request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RoleRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "Status 200 OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResultOfString"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/identity/role/{id}": {
      "delete": {
        "tags": ["Role"],
        "summary": "Delete a Role",
        "operationId": "Role_Delete",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-position": 1
          }
        ],
        "responses": {
          "200": {
            "description": "Status 200 OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResultOfString"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/identity/role/permissions/{roleId}": {
      "get": {
        "tags": ["Role"],
        "summary": "Get Permissions By Role Id",
        "operationId": "Role_GetPermissionsByRoleId",
        "parameters": [
          {
            "name": "roleId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-position": 1
          }
        ],
        "responses": {
          "200": {
            "description": "Status 200 Ok",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResultOfPermissionResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/identity/role/permissions/update": {
      "put": {
        "tags": ["Role"],
        "summary": "Edit a Role Claim",
        "operationId": "Role_Update",
        "requestBody": {
          "x-name": "model",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PermissionRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResultOfString"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v{version}/Dashboard/GetData": {
      "get": {
        "tags": ["Dashboard"],
        "summary": "Get Dashboard Data",
        "operationId": "Dashboard_GetData",
        "parameters": [
          {
            "name": "version",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-position": 1
          }
        ],
        "responses": {
          "200": {
            "description": "Status 200 OK ",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResultOfDashboardDataResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v{version}/WorkerInfo/GetMy": {
      "get": {
        "tags": ["WorkerInfo"],
        "summary": "Get Worker Infos",
        "operationId": "WorkerInfo_GetMy",
        "parameters": [
          {
            "name": "PageSize",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "x-position": 1
          },
          {
            "name": "PageNumber",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "x-position": 2
          },
          {
            "name": "version",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-position": 3
          }
        ],
        "responses": {
          "200": {
            "description": "Status 200 OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResultOfWorkerInfoResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v{version}/SubscriptionProduct/CreateSubscriptionProduct": {
      "post": {
        "tags": ["SubscriptionProduct"],
        "summary": "Craete subscription product",
        "operationId": "SubscriptionProduct_CreateSubscriptionProduct",
        "parameters": [
          {
            "name": "version",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-position": 2
          }
        ],
        "requestBody": {
          "x-name": "command",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddSubscriptionProductCommand"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResultOfLong"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v{version}/SubscriptionProduct/UpdateSubscriptionProductPublishedState": {
      "put": {
        "tags": ["SubscriptionProduct"],
        "summary": "Update Subscription Product Published State",
        "operationId": "SubscriptionProduct_UpdateSubscriptionProductPublishedState",
        "parameters": [
          {
            "name": "version",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-position": 2
          }
        ],
        "requestBody": {
          "x-name": "command",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateSubscriptionProductPublishedStateCommand"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResultOfLong"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v{version}/SubscriptionProduct/Get": {
      "get": {
        "tags": ["SubscriptionProduct"],
        "summary": "Get all subscription product",
        "operationId": "SubscriptionProduct_Get",
        "parameters": [
          {
            "name": "PageSize",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "x-position": 1
          },
          {
            "name": "PageNumber",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "x-position": 2
          },
          {
            "name": "version",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-position": 3
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResultOfSubscriptionProductResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v{version}/SubscriptionProduct/GetDisplay": {
      "get": {
        "tags": ["SubscriptionProduct"],
        "summary": "Get Display subscription product",
        "operationId": "SubscriptionProduct_GetDisplay",
        "parameters": [
          {
            "name": "version",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-position": 1
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResultOfListOfDisplaySubscriptionProductResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v{version}/SubscriptionProduct/GetInternal": {
      "get": {
        "tags": ["SubscriptionProduct"],
        "summary": "Get Internal subscription product",
        "operationId": "SubscriptionProduct_GetInternal",
        "parameters": [
          {
            "name": "version",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-position": 1
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResultOfListOfDisplaySubscriptionProductResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v{version}/StripePayment/CreateCheckOutSession": {
      "post": {
        "tags": ["StripePayment"],
        "summary": "create stripe checkout session",
        "operationId": "StripePayment_CreateCheckOutSession",
        "parameters": [
          {
            "name": "version",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-position": 2
          }
        ],
        "requestBody": {
          "x-name": "command",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateStripeCheckoutSessionCommand"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResultOfCreateStripeCheckoutSessionResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v{version}/StripePayment/CreateStripeCustomerPortal": {
      "post": {
        "tags": ["StripePayment"],
        "summary": "create stripe customer portal",
        "operationId": "StripePayment_CreateStripeCustomerPortal",
        "parameters": [
          {
            "name": "version",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-position": 2
          }
        ],
        "requestBody": {
          "x-name": "command",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateStripeCustomerPortalCommand"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResultOfCreateStripeCustomerPortalResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v{version}/StripePayment/CancelStripeSubscription": {
      "post": {
        "tags": ["StripePayment"],
        "summary": "cancel stripe subscription",
        "operationId": "StripePayment_CancelStripeSubscription",
        "parameters": [
          {
            "name": "version",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-position": 2
          }
        ],
        "requestBody": {
          "x-name": "command",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CancelStripeSubscriptionCommand"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Result"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v{version}/StripePayment/Webhook": {
      "post": {
        "tags": ["StripePayment"],
        "operationId": "StripePayment_Webhook",
        "parameters": [
          {
            "name": "version",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-position": 1
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Result"
                }
              }
            }
          }
        }
      }
    },
    "/v{version}/StripePayment/TestingWebhook": {
      "post": {
        "tags": ["StripePayment"],
        "operationId": "StripePayment_TestingWebhook",
        "parameters": [
          {
            "name": "version",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-position": 1
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Result"
                }
              }
            }
          }
        }
      }
    },
    "/v{version}/Subscription/CreateInternalSubscription": {
      "post": {
        "tags": ["Subscription"],
        "summary": "create subscription",
        "operationId": "Subscription_CreateInternalSubscription",
        "parameters": [
          {
            "name": "version",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-position": 2
          }
        ],
        "requestBody": {
          "x-name": "command",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddInternalUserSubscriptionCommand"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResultOfLong"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v{version}/Subscription/GetUserActiveSubscriptionPeriods": {
      "get": {
        "tags": ["Subscription"],
        "summary": "Get User Active Subscriptions",
        "operationId": "Subscription_GetUserActiveSubscriptionPeriods",
        "parameters": [
          {
            "name": "UserId",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "guid"
            },
            "x-position": 1
          },
          {
            "name": "version",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-position": 2
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResultOfListOfUserSubscriptionPeriodResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v{version}/Subscription/GetUserSubscriptionPeriods": {
      "get": {
        "tags": ["Subscription"],
        "summary": "Get User Subscriptions",
        "operationId": "Subscription_GetUserSubscriptionPeriods",
        "parameters": [
          {
            "name": "UserId",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "guid"
            },
            "x-position": 1
          },
          {
            "name": "PageSize",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "x-position": 2
          },
          {
            "name": "PageNumber",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "x-position": 3
          },
          {
            "name": "version",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-position": 4
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResultOfUserSubscriptionPeriodResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v{version}/Subscription/GetMyActiveSubscriptionPeriods": {
      "get": {
        "tags": ["Subscription"],
        "summary": "Get My Active Subscriptions",
        "operationId": "Subscription_GetMyActiveSubscriptionPeriods",
        "parameters": [
          {
            "name": "version",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-position": 1
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResultOfListOfUserSubscriptionPeriodResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v{version}/Subscription/GetMySubscriptionPeriods": {
      "get": {
        "tags": ["Subscription"],
        "summary": "Get My Subscriptions",
        "operationId": "Subscription_GetMySubscriptionPeriods",
        "parameters": [
          {
            "name": "UserId",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "guid"
            },
            "x-position": 1
          },
          {
            "name": "PageSize",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "x-position": 2
          },
          {
            "name": "PageNumber",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "x-position": 3
          },
          {
            "name": "version",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-position": 4
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResultOfUserSubscriptionPeriodResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/Audits": {
      "get": {
        "tags": ["Audits"],
        "summary": "Get Current User Audit Trails",
        "operationId": "Audits_GetUserTrails",
        "responses": {
          "200": {
            "description": "Status 200 OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResultOfIEnumerableOfAuditResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/Audits/export": {
      "get": {
        "tags": ["Audits"],
        "summary": "Search Audit Trails and Export to Excel",
        "operationId": "Audits_ExportExcel",
        "parameters": [
          {
            "name": "searchString",
            "in": "query",
            "schema": {
              "type": "string",
              "default": "",
              "nullable": true
            },
            "x-position": 1
          },
          {
            "name": "searchInOldValues",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            },
            "x-position": 2
          },
          {
            "name": "searchInNewValues",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            },
            "x-position": 3
          }
        ],
        "responses": {
          "200": {
            "description": "Status 200 OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResultOfString"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/Preferences/changeLanguage": {
      "post": {
        "tags": ["Preferences"],
        "summary": "Change Language Preference",
        "operationId": "Preferences_ChangeLanguage",
        "parameters": [
          {
            "name": "languageCode",
            "in": "query",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 1
          }
        ],
        "responses": {
          "200": {
            "description": "Status 200 OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Result"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/identity/account/UpdateProfile": {
      "put": {
        "tags": ["Account"],
        "summary": "Update Profile",
        "operationId": "Account_UpdateProfile",
        "requestBody": {
          "x-name": "model",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateProfileRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "Status 200 OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Result"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/identity/account": {
      "put": {
        "tags": ["Account"],
        "summary": "Update User Profile",
        "operationId": "Account_UpdateUserProfile",
        "parameters": [
          {
            "name": "userId",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "guid"
            },
            "x-position": 1
          }
        ],
        "requestBody": {
          "x-name": "model",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateProfileRequest"
              }
            }
          },
          "required": true,
          "x-position": 2
        },
        "responses": {
          "200": {
            "description": "Status 200 OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Result"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/identity/account/GetMyProfile": {
      "get": {
        "tags": ["Account"],
        "summary": "Get My Profile",
        "operationId": "Account_GetMyProfile",
        "responses": {
          "200": {
            "description": "Status 200 OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResultOfProfileResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/identity/account/ChangePassword": {
      "put": {
        "tags": ["Account"],
        "summary": "Change Password",
        "operationId": "Account_ChangePassword",
        "requestBody": {
          "x-name": "model",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChangePasswordRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "Status 200 OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Result"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v{version}/ApiKey/AddApiKey": {
      "post": {
        "tags": ["ApiKey"],
        "summary": "Add Api Key",
        "operationId": "ApiKey_AddApiKey",
        "parameters": [
          {
            "name": "version",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-position": 2
          }
        ],
        "requestBody": {
          "x-name": "command",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddApiKeyCommand"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "Status 200 OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResultOfApiKeyResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v{version}/ApiKey/UpdateApiKeyState": {
      "put": {
        "tags": ["ApiKey"],
        "summary": "Update APi Key State",
        "operationId": "ApiKey_UpdateApiKeyState",
        "parameters": [
          {
            "name": "version",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-position": 2
          }
        ],
        "requestBody": {
          "x-name": "command",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChangeApiKeyStateCommand"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "Status 200 OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResultOfLong"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v{version}/ApiKey/GetMyApiKeys": {
      "get": {
        "tags": ["ApiKey"],
        "summary": "Get My Api Keys",
        "operationId": "ApiKey_GetMyApiKeys",
        "parameters": [
          {
            "name": "PageSize",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "x-position": 1
          },
          {
            "name": "PageNumber",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "x-position": 2
          },
          {
            "name": "version",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-position": 3
          }
        ],
        "responses": {
          "200": {
            "description": "Status 200 OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResultOfApiKeyResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/identity/token": {
      "post": {
        "tags": ["Token"],
        "summary": "Get Token (Email, Password)",
        "operationId": "Token_Post",
        "requestBody": {
          "x-name": "model",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TokenRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "Status 200 OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResultOfTokenResponse"
                }
              }
            }
          }
        }
      }
    },
    "/identity/token/refresh": {
      "post": {
        "tags": ["Token"],
        "summary": "Refresh Token",
        "operationId": "Token_Refresh",
        "requestBody": {
          "x-name": "model",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RefreshTokenRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "Status 200 OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResultOfTokenResponse"
                }
              }
            }
          }
        }
      }
    },
    "/identity/user": {
      "get": {
        "tags": ["User"],
        "summary": "Get Users Details",
        "operationId": "User_GetAll",
        "responses": {
          "200": {
            "description": "Status 200 OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResultOfListOfUserResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      },
      "put": {
        "tags": ["User"],
        "summary": "Update User Monthly Quota",
        "operationId": "User_UpdateUserMonthlyQuota",
        "requestBody": {
          "x-name": "request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateUserMonthlyQuotaRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "Status 200 OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Result"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/identity/user/{id}": {
      "get": {
        "tags": ["User"],
        "summary": "Get User By Id",
        "operationId": "User_GetById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "guid"
            },
            "x-position": 1
          }
        ],
        "responses": {
          "200": {
            "description": "Status 200 OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResultOfUserResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/identity/user/roles/{id}": {
      "get": {
        "tags": ["User"],
        "summary": "Get User Roles By Id",
        "operationId": "User_GetRoles",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-position": 1
          }
        ],
        "responses": {
          "200": {
            "description": "Status 200 OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResultOfUserRolesResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      },
      "put": {
        "tags": ["User"],
        "summary": "Update Roles for User",
        "operationId": "User_UpdateRoles",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-position": 2
          }
        ],
        "requestBody": {
          "x-name": "request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateUserRolesRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "Status 200 OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Result"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/identity/user/create": {
      "post": {
        "tags": ["User"],
        "summary": "Create a User",
        "operationId": "User_Createsync",
        "requestBody": {
          "x-name": "request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateUserRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "Status 200 OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Result"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/identity/user/register": {
      "post": {
        "tags": ["User"],
        "summary": "Register a User",
        "operationId": "User_Register",
        "requestBody": {
          "x-name": "request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RegisterRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "Status 200 OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Result"
                }
              }
            }
          }
        }
      }
    },
    "/identity/user/confirm-email": {
      "get": {
        "tags": ["User"],
        "summary": "Confirm Email",
        "operationId": "User_ConfirmEmail",
        "parameters": [
          {
            "name": "userId",
            "in": "query",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 1
          },
          {
            "name": "code",
            "in": "query",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 2
          }
        ],
        "responses": {
          "200": {
            "description": "Status 200 OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResultOfGuid"
                }
              }
            }
          }
        }
      }
    },
    "/identity/user/toggle-status": {
      "post": {
        "tags": ["User"],
        "summary": "Toggle User Status (Activate and Deactivate)",
        "operationId": "User_ToggleUserStatus",
        "requestBody": {
          "x-name": "request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ToggleUserStatusRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "Status 200 OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Result"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/identity/user/forgot-password": {
      "post": {
        "tags": ["User"],
        "summary": "Forgot Password",
        "operationId": "User_ForgotPassword",
        "requestBody": {
          "x-name": "request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ForgotPasswordRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "Status 200 OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Result"
                }
              }
            }
          }
        }
      }
    },
    "/identity/user/reset-password": {
      "post": {
        "tags": ["User"],
        "summary": "Reset Password",
        "operationId": "User_ResetPassword",
        "requestBody": {
          "x-name": "request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ResetPasswordRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "Status 200 OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Result"
                }
              }
            }
          }
        }
      }
    },
    "/identity/user/export": {
      "get": {
        "tags": ["User"],
        "summary": "Export to Excel",
        "operationId": "User_Export",
        "parameters": [
          {
            "name": "searchString",
            "in": "query",
            "schema": {
              "type": "string",
              "default": "",
              "nullable": true
            },
            "x-position": 1
          }
        ],
        "responses": {
          "200": {
            "description": "Status 200 OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v{version}/InfoTask/GetMy": {
      "get": {
        "tags": ["InfoTask"],
        "summary": "Get My Info Tasks",
        "operationId": "InfoTask_GetMy",
        "parameters": [
          {
            "name": "SearchString",
            "in": "query",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 1
          },
          {
            "name": "PageSize",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "x-position": 2
          },
          {
            "name": "PageNumber",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "x-position": 3
          },
          {
            "name": "version",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-position": 4
          }
        ],
        "responses": {
          "200": {
            "description": "Status 200 OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResultOfInfoTaskResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v{version}/InfoTask/GetMyById": {
      "get": {
        "tags": ["InfoTask"],
        "summary": "Get My Info Task By Id",
        "operationId": "InfoTask_GetMyById",
        "parameters": [
          {
            "name": "Id",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "x-position": 1
          },
          {
            "name": "version",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-position": 2
          }
        ],
        "responses": {
          "200": {
            "description": "Status 200 OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResultOfInfoTaskResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v{version}/InfoTask/GetMyByBarCode": {
      "get": {
        "tags": ["InfoTask"],
        "summary": "Get My Info Task By Bar Code",
        "operationId": "InfoTask_GetMyByBarCode",
        "parameters": [
          {
            "name": "Asin",
            "in": "query",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 1
          },
          {
            "name": "version",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-position": 2
          }
        ],
        "responses": {
          "200": {
            "description": "Status 200 OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResultOfInfoTaskResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v{version}/InfoTask/Post": {
      "post": {
        "tags": ["InfoTask"],
        "summary": "Add Info Task",
        "operationId": "InfoTask_Post",
        "parameters": [
          {
            "name": "version",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-position": 2
          }
        ],
        "requestBody": {
          "x-name": "command",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddInfoTasksCommand"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "Status 200 OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResultOfLong"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v{version}/InfoTask/AddOrGet": {
      "post": {
        "tags": ["InfoTask"],
        "summary": "Add Or Get Info Task",
        "operationId": "InfoTask_AddOrGet",
        "parameters": [
          {
            "name": "version",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-position": 2
          }
        ],
        "requestBody": {
          "x-name": "command",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddOrGetInfoTasksCommand"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "Status 200 OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResultOfInfoTaskResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v{version}/InfoTask/Batch": {
      "post": {
        "tags": ["InfoTask"],
        "summary": "Batch Add Info Task",
        "operationId": "InfoTask_Batch",
        "parameters": [
          {
            "name": "version",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-position": 2
          }
        ],
        "requestBody": {
          "x-name": "command",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BatchAddInfoTasksCommand"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "Status 200 OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResultOfLong"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v{version}/InfoTask/Assign": {
      "post": {
        "tags": ["InfoTask"],
        "summary": "Get and assign Info task",
        "operationId": "InfoTask_Assign",
        "parameters": [
          {
            "name": "apiKey",
            "in": "header",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 1
          },
          {
            "name": "version",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-position": 2
          }
        ],
        "responses": {
          "200": {
            "description": "Status 200 OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResultOfString"
                }
              }
            }
          }
        }
      }
    },
    "/v{version}/InfoTask/Finish": {
      "post": {
        "tags": ["InfoTask"],
        "summary": "Finish Info Task",
        "operationId": "InfoTask_Finish",
        "parameters": [
          {
            "name": "apiKey",
            "in": "header",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 1
          },
          {
            "name": "version",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-position": 3
          }
        ],
        "requestBody": {
          "x-name": "command",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FinnishInfoTaskCommand"
              }
            }
          },
          "required": true,
          "x-position": 2
        },
        "responses": {
          "200": {
            "description": "Status 200 OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResultOfLong"
                }
              }
            }
          }
        }
      }
    },
    "/v{version}/InfoTask/GetMyUsage": {
      "get": {
        "tags": ["InfoTask"],
        "summary": "Get My Usage",
        "operationId": "InfoTask_GetMyUsage",
        "parameters": [
          {
            "name": "version",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-position": 1
          }
        ],
        "responses": {
          "200": {
            "description": "Status 200 OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResultOfMyInfoTasksUsageResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v{version}/ScanTask/GetMy": {
      "get": {
        "tags": ["ScanTask"],
        "summary": "Get My Scan Tasks",
        "operationId": "ScanTask_GetMy",
        "parameters": [
          {
            "name": "SearchString",
            "in": "query",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 1
          },
          {
            "name": "PageSize",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "x-position": 2
          },
          {
            "name": "PageNumber",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "x-position": 3
          },
          {
            "name": "version",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-position": 4
          }
        ],
        "responses": {
          "200": {
            "description": "Status 200 OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResultOfScanTaskResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v{version}/ScanTask/GetMyById": {
      "get": {
        "tags": ["ScanTask"],
        "summary": "Get My Scan Task By Id",
        "operationId": "ScanTask_GetMyById",
        "parameters": [
          {
            "name": "Id",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "x-position": 1
          },
          {
            "name": "version",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-position": 2
          }
        ],
        "responses": {
          "200": {
            "description": "Status 200 OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResultOfScanTaskResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v{version}/ScanTask/GetMyByBarCode": {
      "get": {
        "tags": ["ScanTask"],
        "summary": "Get My Scan Task By Bar Code",
        "operationId": "ScanTask_GetMyByBarCode",
        "parameters": [
          {
            "name": "BarCode",
            "in": "query",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 1
          },
          {
            "name": "version",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-position": 2
          }
        ],
        "responses": {
          "200": {
            "description": "Status 200 OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResultOfScanTaskResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v{version}/ScanTask/Post": {
      "post": {
        "tags": ["ScanTask"],
        "summary": "Add Scan Task",
        "operationId": "ScanTask_Post",
        "parameters": [
          {
            "name": "version",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-position": 2
          }
        ],
        "requestBody": {
          "x-name": "command",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddScanTasksCommand"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "Status 200 OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResultOfLong"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v{version}/ScanTask/AddOrGet": {
      "post": {
        "tags": ["ScanTask"],
        "summary": "Add Or Get Scan Task",
        "operationId": "ScanTask_AddOrGet",
        "parameters": [
          {
            "name": "version",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-position": 2
          }
        ],
        "requestBody": {
          "x-name": "command",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddOrGetScanTasksCommand"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "Status 200 OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResultOfScanTaskResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v{version}/ScanTask/Batch": {
      "post": {
        "tags": ["ScanTask"],
        "summary": "Batch Add Scan Task",
        "operationId": "ScanTask_Batch",
        "parameters": [
          {
            "name": "version",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-position": 2
          }
        ],
        "requestBody": {
          "x-name": "command",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BatchAddScanTasksCommand"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "Status 200 OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResultOfLong"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v{version}/ScanTask/Assign": {
      "post": {
        "tags": ["ScanTask"],
        "summary": "Get and assign scan task",
        "operationId": "ScanTask_Assign",
        "parameters": [
          {
            "name": "apiKey",
            "in": "header",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 1
          },
          {
            "name": "workerId",
            "in": "query",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 2
          },
          {
            "name": "version",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-position": 3
          }
        ],
        "responses": {
          "200": {
            "description": "Status 200 OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResultOfString"
                }
              }
            }
          }
        }
      }
    },
    "/v{version}/ScanTask/Finish": {
      "post": {
        "tags": ["ScanTask"],
        "summary": "Finish SCan Task",
        "operationId": "ScanTask_Finish",
        "parameters": [
          {
            "name": "apiKey",
            "in": "header",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 1
          },
          {
            "name": "version",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-position": 3
          }
        ],
        "requestBody": {
          "x-name": "command",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FinnishScanTaskCommand"
              }
            }
          },
          "required": true,
          "x-position": 2
        },
        "responses": {
          "200": {
            "description": "Status 200 OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResultOfLong"
                }
              }
            }
          }
        }
      }
    },
    "/v{version}/ScanTask/GetMyUsage": {
      "get": {
        "tags": ["ScanTask"],
        "summary": "Get My Usage",
        "operationId": "ScanTask_GetMyUsage",
        "parameters": [
          {
            "name": "version",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-position": 1
          }
        ],
        "responses": {
          "200": {
            "description": "Status 200 OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResultOfMyScanTasksUsageResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "ResultOfListOfRoleClaimResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Result"
          },
          {
            "type": "object",
            "additionalProperties": false,
            "properties": {
              "data": {
                "type": "array",
                "nullable": true,
                "items": {
                  "$ref": "#/components/schemas/RoleClaimResponse"
                }
              }
            }
          }
        ]
      },
      "RoleClaimResponse": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "id": {
            "type": "integer",
            "format": "int32"
          },
          "roleId": {
            "type": "string",
            "format": "guid"
          },
          "type": {
            "type": "string",
            "nullable": true
          },
          "value": {
            "type": "string",
            "nullable": true
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "group": {
            "type": "string",
            "nullable": true
          },
          "selected": {
            "type": "boolean"
          }
        }
      },
      "Result": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "messages": {
            "type": "array",
            "nullable": true,
            "items": {
              "type": "string"
            }
          },
          "succeeded": {
            "type": "boolean"
          }
        }
      },
      "ResultOfString": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Result"
          },
          {
            "type": "object",
            "additionalProperties": false,
            "properties": {
              "data": {
                "type": "string",
                "nullable": true
              }
            }
          }
        ]
      },
      "RoleClaimRequest": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "id": {
            "type": "integer",
            "format": "int32"
          },
          "roleId": {
            "type": "string",
            "format": "guid",
            "nullable": true
          },
          "type": {
            "type": "string",
            "nullable": true
          },
          "value": {
            "type": "string",
            "nullable": true
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "group": {
            "type": "string",
            "nullable": true
          },
          "selected": {
            "type": "boolean"
          }
        }
      },
      "ResultOfListOfRoleResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Result"
          },
          {
            "type": "object",
            "additionalProperties": false,
            "properties": {
              "data": {
                "type": "array",
                "nullable": true,
                "items": {
                  "$ref": "#/components/schemas/RoleResponse"
                }
              }
            }
          }
        ]
      },
      "RoleResponse": {
        "type": "object",
        "additionalProperties": false,
        "required": ["name"],
        "properties": {
          "id": {
            "type": "string",
            "nullable": true
          },
          "name": {
            "type": "string",
            "minLength": 1
          },
          "description": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "RoleRequest": {
        "type": "object",
        "additionalProperties": false,
        "required": ["name"],
        "properties": {
          "id": {
            "type": "string",
            "nullable": true
          },
          "name": {
            "type": "string",
            "minLength": 1
          },
          "description": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "ResultOfPermissionResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Result"
          },
          {
            "type": "object",
            "additionalProperties": false,
            "properties": {
              "data": {
                "nullable": true,
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/PermissionResponse"
                  }
                ]
              }
            }
          }
        ]
      },
      "PermissionResponse": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "roleId": {
            "type": "string",
            "format": "guid"
          },
          "roleName": {
            "type": "string",
            "nullable": true
          },
          "roleClaims": {
            "type": "array",
            "nullable": true,
            "items": {
              "$ref": "#/components/schemas/RoleClaimResponse"
            }
          }
        }
      },
      "PermissionRequest": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "roleId": {
            "type": "string",
            "nullable": true
          },
          "roleClaims": {
            "type": "array",
            "nullable": true,
            "items": {
              "$ref": "#/components/schemas/RoleClaimRequest"
            }
          }
        }
      },
      "ResultOfDashboardDataResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Result"
          },
          {
            "type": "object",
            "additionalProperties": false,
            "properties": {
              "data": {
                "nullable": true,
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/DashboardDataResponse"
                  }
                ]
              }
            }
          }
        ]
      },
      "DashboardDataResponse": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "userCount": {
            "type": "integer",
            "format": "int32"
          },
          "roleCount": {
            "type": "integer",
            "format": "int32"
          },
          "dataEnterBarChart": {
            "type": "array",
            "nullable": true,
            "items": {
              "$ref": "#/components/schemas/ChartSeries"
            }
          }
        }
      },
      "ChartSeries": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "name": {
            "type": "string",
            "nullable": true
          },
          "data": {
            "type": "array",
            "nullable": true,
            "items": {
              "type": "number",
              "format": "double"
            }
          }
        }
      },
      "PaginatedResultOfWorkerInfoResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Result"
          },
          {
            "type": "object",
            "additionalProperties": false,
            "properties": {
              "data": {
                "type": "array",
                "nullable": true,
                "items": {
                  "$ref": "#/components/schemas/WorkerInfoResponse"
                }
              },
              "currentPage": {
                "type": "integer",
                "format": "int32"
              },
              "totalPages": {
                "type": "integer",
                "format": "int32"
              },
              "totalCount": {
                "type": "integer",
                "format": "int32"
              },
              "pageSize": {
                "type": "integer",
                "format": "int32"
              },
              "hasPreviousPage": {
                "type": "boolean"
              },
              "hasNextPage": {
                "type": "boolean"
              }
            }
          }
        ]
      },
      "WorkerInfoResponse": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "id": {
            "type": "integer",
            "format": "int64"
          },
          "workerId": {
            "type": "string",
            "nullable": true
          },
          "lastActivity": {
            "type": "string",
            "format": "date-time"
          },
          "isActive": {
            "type": "boolean"
          }
        }
      },
      "ResultOfLong": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Result"
          },
          {
            "type": "object",
            "additionalProperties": false,
            "properties": {
              "data": {
                "type": "integer",
                "format": "int64"
              }
            }
          }
        ]
      },
      "AddSubscriptionProductCommand": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "name",
          "scanTaskQouta",
          "scanTaskQoutaLimit",
          "infoTaskQouta",
          "infoTaskQoutaLimit",
          "durationMS",
          "amount",
          "amountSuffix",
          "currencyCode",
          "currency",
          "reference",
          "purchaseSource"
        ],
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1
          },
          "scanTaskQouta": {
            "type": "integer",
            "format": "int64"
          },
          "scanTaskQoutaLimit": {
            "type": "integer",
            "format": "int64"
          },
          "infoTaskQouta": {
            "type": "integer",
            "format": "int64"
          },
          "infoTaskQoutaLimit": {
            "type": "integer",
            "format": "int64"
          },
          "durationMS": {
            "type": "integer",
            "format": "int64"
          },
          "trialDurationMS": {
            "type": "integer",
            "format": "int64"
          },
          "initialAmount": {
            "type": "number",
            "format": "decimal",
            "nullable": true
          },
          "amount": {
            "type": "number",
            "format": "decimal"
          },
          "amountSuffix": {
            "type": "string",
            "minLength": 1
          },
          "currencyCode": {
            "type": "string",
            "minLength": 1
          },
          "currency": {
            "type": "string",
            "minLength": 1
          },
          "coupon": {
            "type": "string",
            "nullable": true
          },
          "reference": {
            "type": "string",
            "minLength": 1
          },
          "payAsYouGoReference": {
            "type": "string",
            "nullable": true
          },
          "purchaseSource": {
            "$ref": "#/components/schemas/PurchaseSource"
          },
          "isTesting": {
            "type": "boolean"
          }
        }
      },
      "PurchaseSource": {
        "type": "integer",
        "description": "0 = Internal\n1 = Stripe",
        "x-enumNames": ["Internal", "Stripe"],
        "enum": [0, 1]
      },
      "UpdateSubscriptionProductPublishedStateCommand": {
        "type": "object",
        "additionalProperties": false,
        "required": ["productId"],
        "properties": {
          "productId": {
            "type": "integer",
            "format": "int64"
          },
          "isPublished": {
            "type": "boolean"
          }
        }
      },
      "PaginatedResultOfSubscriptionProductResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Result"
          },
          {
            "type": "object",
            "additionalProperties": false,
            "properties": {
              "data": {
                "type": "array",
                "nullable": true,
                "items": {
                  "$ref": "#/components/schemas/SubscriptionProductResponse"
                }
              },
              "currentPage": {
                "type": "integer",
                "format": "int32"
              },
              "totalPages": {
                "type": "integer",
                "format": "int32"
              },
              "totalCount": {
                "type": "integer",
                "format": "int32"
              },
              "pageSize": {
                "type": "integer",
                "format": "int32"
              },
              "hasPreviousPage": {
                "type": "boolean"
              },
              "hasNextPage": {
                "type": "boolean"
              }
            }
          }
        ]
      },
      "SubscriptionProductResponse": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "id": {
            "type": "integer",
            "format": "int64"
          },
          "name": {
            "type": "string",
            "nullable": true
          },
          "currency": {
            "type": "string",
            "nullable": true
          },
          "currencyCode": {
            "type": "string",
            "nullable": true
          },
          "amount": {
            "type": "number",
            "format": "decimal"
          },
          "amountSuffix": {
            "type": "string",
            "nullable": true
          },
          "initialAmount": {
            "type": "number",
            "format": "decimal",
            "nullable": true
          },
          "reference": {
            "type": "string",
            "nullable": true
          },
          "payAsYouGoReference": {
            "type": "string",
            "nullable": true
          },
          "purchaseSource": {
            "$ref": "#/components/schemas/PurchaseSource"
          },
          "scanTaskQouta": {
            "type": "integer",
            "format": "int64"
          },
          "scanTaskQoutaLimit": {
            "type": "integer",
            "format": "int64"
          },
          "infoTaskQouta": {
            "type": "integer",
            "format": "int64"
          },
          "infoTaskQoutaLimit": {
            "type": "integer",
            "format": "int64"
          },
          "durationMS": {
            "type": "integer",
            "format": "int64"
          },
          "trialDurationMS": {
            "type": "integer",
            "format": "int64"
          },
          "coupon": {
            "type": "string",
            "nullable": true
          },
          "isTesting": {
            "type": "boolean"
          },
          "isPublished": {
            "type": "boolean"
          }
        }
      },
      "ResultOfListOfDisplaySubscriptionProductResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Result"
          },
          {
            "type": "object",
            "additionalProperties": false,
            "properties": {
              "data": {
                "type": "array",
                "nullable": true,
                "items": {
                  "$ref": "#/components/schemas/DisplaySubscriptionProductResponse"
                }
              }
            }
          }
        ]
      },
      "DisplaySubscriptionProductResponse": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "id": {
            "type": "integer",
            "format": "int64"
          },
          "name": {
            "type": "string",
            "nullable": true
          },
          "currency": {
            "type": "string",
            "nullable": true
          },
          "currencyCode": {
            "type": "string",
            "nullable": true
          },
          "amount": {
            "type": "number",
            "format": "decimal"
          },
          "amountSuffix": {
            "type": "string",
            "nullable": true
          },
          "initialAmount": {
            "type": "number",
            "format": "decimal",
            "nullable": true
          },
          "reference": {
            "type": "string",
            "nullable": true
          },
          "payAsYouGoReference": {
            "type": "string",
            "nullable": true
          },
          "purchaseSource": {
            "$ref": "#/components/schemas/PurchaseSource"
          },
          "scanTaskQouta": {
            "type": "integer",
            "format": "int64"
          },
          "scanTaskQoutaLimit": {
            "type": "integer",
            "format": "int64"
          },
          "infoTaskQouta": {
            "type": "integer",
            "format": "int64"
          },
          "infoTaskQoutaLimit": {
            "type": "integer",
            "format": "int64"
          },
          "durationMS": {
            "type": "integer",
            "format": "int64"
          },
          "trialDurationMS": {
            "type": "integer",
            "format": "int64"
          }
        }
      },
      "ResultOfCreateStripeCheckoutSessionResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Result"
          },
          {
            "type": "object",
            "additionalProperties": false,
            "properties": {
              "data": {
                "nullable": true,
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/CreateStripeCheckoutSessionResponse"
                  }
                ]
              }
            }
          }
        ]
      },
      "CreateStripeCheckoutSessionResponse": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "paymentUrl": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "CreateStripeCheckoutSessionCommand": {
        "type": "object",
        "additionalProperties": false,
        "required": ["productId", "redirectLink"],
        "properties": {
          "productId": {
            "type": "integer",
            "format": "int64"
          },
          "redirectLink": {
            "type": "string",
            "minLength": 1
          }
        }
      },
      "ResultOfCreateStripeCustomerPortalResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Result"
          },
          {
            "type": "object",
            "additionalProperties": false,
            "properties": {
              "data": {
                "nullable": true,
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/CreateStripeCustomerPortalResponse"
                  }
                ]
              }
            }
          }
        ]
      },
      "CreateStripeCustomerPortalResponse": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "portalUrl": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "CreateStripeCustomerPortalCommand": {
        "type": "object",
        "additionalProperties": false,
        "required": ["redirectLink"],
        "properties": {
          "redirectLink": {
            "type": "string",
            "minLength": 1
          }
        }
      },
      "CancelStripeSubscriptionCommand": {
        "type": "object",
        "additionalProperties": false,
        "required": ["subscriptionPeriodId"],
        "properties": {
          "subscriptionPeriodId": {
            "type": "integer",
            "format": "int64"
          },
          "userId": {
            "type": "string",
            "format": "guid"
          }
        }
      },
      "AddInternalUserSubscriptionCommand": {
        "type": "object",
        "additionalProperties": false,
        "required": ["productId", "startDate"],
        "properties": {
          "productId": {
            "type": "integer",
            "format": "int64"
          },
          "userId": {
            "type": "string",
            "format": "guid"
          },
          "startDate": {
            "type": "string",
            "format": "date-time",
            "minLength": 1
          }
        }
      },
      "ResultOfListOfUserSubscriptionPeriodResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Result"
          },
          {
            "type": "object",
            "additionalProperties": false,
            "properties": {
              "data": {
                "type": "array",
                "nullable": true,
                "items": {
                  "$ref": "#/components/schemas/UserSubscriptionPeriodResponse"
                }
              }
            }
          }
        ]
      },
      "UserSubscriptionPeriodResponse": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "id": {
            "type": "integer",
            "format": "int64"
          },
          "productId": {
            "type": "integer",
            "format": "int64"
          },
          "product": {
            "type": "string",
            "nullable": true
          },
          "subscriptionPeriodType": {
            "$ref": "#/components/schemas/SubscriptionPeriodType"
          },
          "startDate": {
            "type": "string",
            "format": "date-time"
          },
          "expirationDate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "subscriptionId": {
            "type": "string",
            "nullable": true
          },
          "transactionId": {
            "type": "string",
            "nullable": true
          },
          "isRefunded": {
            "type": "boolean"
          },
          "refundedOn": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "isRenewCancelled": {
            "type": "boolean"
          },
          "renewCancelledOn": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "scanTaskUsage": {
            "type": "integer",
            "format": "int64"
          },
          "scanTaskLimit": {
            "type": "integer",
            "format": "int64"
          },
          "infoTaskLimit": {
            "type": "integer",
            "format": "int64"
          },
          "infoTaskUsage": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "SubscriptionPeriodType": {
        "type": "integer",
        "description": "0 = New\n1 = Renewal",
        "x-enumNames": ["New", "Renewal"],
        "enum": [0, 1]
      },
      "PaginatedResultOfUserSubscriptionPeriodResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Result"
          },
          {
            "type": "object",
            "additionalProperties": false,
            "properties": {
              "data": {
                "type": "array",
                "nullable": true,
                "items": {
                  "$ref": "#/components/schemas/UserSubscriptionPeriodResponse"
                }
              },
              "currentPage": {
                "type": "integer",
                "format": "int32"
              },
              "totalPages": {
                "type": "integer",
                "format": "int32"
              },
              "totalCount": {
                "type": "integer",
                "format": "int32"
              },
              "pageSize": {
                "type": "integer",
                "format": "int32"
              },
              "hasPreviousPage": {
                "type": "boolean"
              },
              "hasNextPage": {
                "type": "boolean"
              }
            }
          }
        ]
      },
      "ResultOfIEnumerableOfAuditResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Result"
          },
          {
            "type": "object",
            "additionalProperties": false,
            "properties": {
              "data": {
                "type": "array",
                "nullable": true,
                "items": {
                  "$ref": "#/components/schemas/AuditResponse"
                }
              }
            }
          }
        ]
      },
      "AuditResponse": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "id": {
            "type": "integer",
            "format": "int64"
          },
          "userId": {
            "type": "string",
            "format": "guid"
          },
          "type": {
            "type": "string",
            "nullable": true
          },
          "tableName": {
            "type": "string",
            "nullable": true
          },
          "dateTime": {
            "type": "string",
            "format": "date-time"
          },
          "oldValues": {
            "type": "string",
            "nullable": true
          },
          "newValues": {
            "type": "string",
            "nullable": true
          },
          "affectedColumns": {
            "type": "string",
            "nullable": true
          },
          "primaryKey": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "UpdateProfileRequest": {
        "type": "object",
        "additionalProperties": false,
        "required": ["firstName", "lastName"],
        "properties": {
          "firstName": {
            "type": "string",
            "minLength": 1
          },
          "lastName": {
            "type": "string",
            "minLength": 1
          },
          "phoneNumber": {
            "type": "string",
            "format": "phone",
            "nullable": true
          },
          "addressName": {
            "type": "string",
            "nullable": true
          },
          "addressLine": {
            "type": "string",
            "nullable": true
          },
          "city": {
            "type": "string",
            "nullable": true
          },
          "state": {
            "type": "string",
            "nullable": true
          },
          "postalCode": {
            "type": "string",
            "nullable": true
          },
          "countryCode": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "ResultOfProfileResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Result"
          },
          {
            "type": "object",
            "additionalProperties": false,
            "properties": {
              "data": {
                "nullable": true,
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/ProfileResponse"
                  }
                ]
              }
            }
          }
        ]
      },
      "ProfileResponse": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "userId": {
            "type": "string",
            "format": "guid"
          },
          "firstName": {
            "type": "string",
            "nullable": true
          },
          "lastName": {
            "type": "string",
            "nullable": true
          },
          "phoneNumber": {
            "type": "string",
            "nullable": true
          },
          "addressName": {
            "type": "string",
            "nullable": true
          },
          "addressLine": {
            "type": "string",
            "nullable": true
          },
          "city": {
            "type": "string",
            "nullable": true
          },
          "state": {
            "type": "string",
            "nullable": true
          },
          "postalCode": {
            "type": "string",
            "nullable": true
          },
          "countryCode": {
            "type": "string",
            "nullable": true
          },
          "email": {
            "type": "string",
            "nullable": true
          },
          "monthlyQuota": {
            "type": "integer",
            "format": "int64"
          }
        }
      },
      "ChangePasswordRequest": {
        "type": "object",
        "additionalProperties": false,
        "required": ["password", "newPassword", "confirmNewPassword"],
        "properties": {
          "password": {
            "type": "string",
            "minLength": 1
          },
          "newPassword": {
            "type": "string",
            "minLength": 1
          },
          "confirmNewPassword": {
            "type": "string",
            "minLength": 1
          }
        }
      },
      "ResultOfApiKeyResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Result"
          },
          {
            "type": "object",
            "additionalProperties": false,
            "properties": {
              "data": {
                "nullable": true,
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/ApiKeyResponse"
                  }
                ]
              }
            }
          }
        ]
      },
      "ApiKeyResponse": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "id": {
            "type": "integer",
            "format": "int64"
          },
          "isActive": {
            "type": "boolean"
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "key": {
            "type": "string",
            "nullable": true
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "scanTaskQuota": {
            "type": "integer",
            "format": "int64"
          },
          "scanTaskUsage": {
            "type": "integer",
            "format": "int64"
          },
          "infoTaskQuota": {
            "type": "integer",
            "format": "int64"
          },
          "infoTaskUsage": {
            "type": "integer",
            "format": "int64"
          }
        }
      },
      "AddApiKeyCommand": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "description",
          "allowedScanTaskQuota",
          "allowedInfoTaskQuota"
        ],
        "properties": {
          "description": {
            "type": "string",
            "minLength": 1
          },
          "allowedScanTaskQuota": {
            "type": "integer",
            "format": "int64"
          },
          "allowedInfoTaskQuota": {
            "type": "integer",
            "format": "int64"
          }
        }
      },
      "ChangeApiKeyStateCommand": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "apiKeyId": {
            "type": "integer",
            "format": "int64"
          },
          "isActive": {
            "type": "boolean"
          }
        }
      },
      "PaginatedResultOfApiKeyResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Result"
          },
          {
            "type": "object",
            "additionalProperties": false,
            "properties": {
              "data": {
[...]
